apt-get install postfix
cat /var/log/mail.log
postconf -e "myorigin = example.com"
postconf -e "myhostname=192.168.1.x"
postconf -e "relay_domains = example1.com, example2.com"
postfix reload
telnet localhost 25

mail from:<you@email.com>
rcpt to:<user@example.com>
data
Subject: Hey my first email
This is my first email

type a dot and hit enter
quit

use mail or mutt
